# Data Preparation

## Data Cleaning, Pre-processing & Verification

In [1]:
#importing libraries
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
#Reading the given dataset into a dataframe

df = pd.read_csv("Walmart_sales.csv")
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

### Checking for Null value

In [4]:
df.isnull().any()

Store           False
Date            False
Weekly_Sales    False
Holiday_Flag    False
Temperature     False
Fuel_Price      False
CPI             False
Unemployment    False
dtype: bool

#### From the above execution, we conclude that there is no null value present in the dataset. The remaining preprocessing including decimal format, date format, outlier detection will be done in PowerBI.